body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

.check{
  text-decoration: line-through;
  font-style: italic;
  background: gold;
}

.hide{
  display: none;
}

.back{
  background: rgb(247,199,68);
}

.wholeSection{
  padding-left: 2%;
  padding-right: 10%;
}

.prioritySection{
  min-height: 200px;
}